.about {
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(235, 233, 233));
    color: black;

    text-align: center;
    position: relative;

    overflow: hidden;
    --start: #0062ac21;
    --end: transparent;
}

.about section,
.about footer {
    opacity: 0.7;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.story-store {
    padding: 50px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
    isolation: isolate;
    text-align: center;
}

.story-store::after {
    content: "";
    transform: skewY(-2deg);
    background: linear-gradient(to bottom, var(--start), var(--end));
    position: absolute;
    inset: 0;
    z-index: -1;
}

.about .team {
    padding: 50px;
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;
    isolation: isolate;
    text-align: center;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.about .team::after {
    content: "";
    transform: skewY(-2deg);
    position: absolute;
    inset: 0;
    z-index: -1;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li:not(:last-child) {
    margin-bottom: 15px;
}

.about .tech-used {
    padding: 30px;
    margin-top: 4rem;
    position: relative;
    isolation: isolate;
    text-align: center;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.about .tech-used::after {
    content: "";
    transform: skewY(-2deg);
    background: linear-gradient(to top, var(--start), var(--end));
    position: absolute;
    inset: 0;
    z-index: -1;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
