.cart-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 10px;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.cart-buttons button {
    width: 2rem;
    aspect-ratio: 1;
    text-align: center;
    padding: 5px!important;
}

.cart-buttons > button:first-child {
    margin-left: auto;
}

.count-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.clean-cart {
    position: fixed;
    bottom: 0;
    width: inherit;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clean-cart button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
}