* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}

#root {
    width: 100%;
    height: 100%;
}

.navbarTop {
    max-width: 100vw!important;
    margin: 0!important;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.navbarTop .col > a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.2s ease;
}

.navbarTop .col > a:hover {
    transform: scale(1.3);
}

.navbarTop .col > a:active {
    transform: scale(1);
}

.searchBar {
    margin-left: auto;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchBar{
    margin-left: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input {
    height: 100%;
    background-color: rgba(230, 230, 230, 0.3);
    border-radius: 100vw;
    padding-inline: 0.8rem;
}

.searchBar input:hover,
.searchBar input:focus {
    background-color: white;
}

.navbarTop img {
    height: 2.5rem;
    margin-left: 10px;
}

.navbarTop .col:has(.active) {
    background-color: rgb(232, 232, 232);
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
    margin-block: 3px;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 100vw;
}